<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylee.css"> 
    <title>Adicionar Produto à Mesa</title>
</head>
<body>
    <h1>Adicionar Produto à Mesa</h1>
  <form th:action="@{/mesas/adicionarProduto/{mesaId}(mesaId=${mesaId})}" method="post">

    <input type="hidden" name="mesaId" th:value="${mesaId}"> <!-- ID da mesa -->
    <label for="produtoId">Produto:</label>
    <select name="produtoId" required>
        <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
    </select><br><br>

    <label for="quantidade">Quantidade:</label>
    <input type="number" name="quantidade" min="1" required><br><br>

    <button type="submit">Adicionar Produto</button>
</form>
  <a href="/">
        <button type="button">Voltar ao início</button>
    </a>
</body>
</html>
